<div class="container-fluid d-flex py-3">

<app-catch [pokemonCatched]="pokemonCatched"></app-catch>

<div class="container card d-flex flex-column h-50">
  <div class="d-flex justify-content-between align-center">
    <div class="pokemon-details mx-2">
      <h2>Dettagli</h2>
      <p>ID: {{pokemon.id}}</p>
      <p>Name: {{pokemon.name | titlecase}}</p>
      <p>Height: {{pokemon.height}}</p>
      <p>Weight: {{pokemon.weight}}</p>
    </div>

    <div class="poke-image d-flex flex-column align-center justify-content-center mx-2">
      <h3 class="text-center">{{pokemon.name | titlecase}}</h3>
      <img src="{{pokemon.sprites.front_default}}" alt="">
    </div>
  </div>
  <div class="buttons d-flex justify-content-center align-center my-3">
    <button (click)="catch()" [disabled]=" pokemonCatched.length > 5">Cattura</button>
    <button (click)="reject()">Rifiuta</button>
  </div>
  <div class="detail bg-primary">
    <p>E' apparso un {{pokemon.name | titlecase}} selvatico</p>
  </div>
</div>

<app-reject [pokemonRejected]="pokemonRejected"></app-reject>
</div>
